################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MangaFireTo/com.greenryu.mangafireto.aab
/MangaFireTo/MangaFireTo/.vs
/MangaFireTo/MangaFireTo/bin
/MangaFireTo/MangaFireTo/obj
